---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=<WEATHERAPI_KEY>&q=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999995'
      Cdn-Proxyver:
      - '1.39'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 10/20/2025 04:01:15
      Cdn-Edgestorageid:
      - '1114'
      Cdn-Requestid:
      - 60008b8cd919f4f47c2291a74b918453
      Cdn-Cache:
      - EXPIRED
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"San Francisco","region":"California","country":"United
        States of America","lat":37.775,"lon":-122.4183,"tz_id":"America/Los_Angeles","localtime_epoch":1760932921,"localtime":"2025-10-19
        21:02"},"current":{"last_updated_epoch":1760932800,"last_updated":"2025-10-19
        21:00","temp_c":16.1,"temp_f":61.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.7,"wind_kph":7.6,"wind_degree":248,"wind_dir":"WSW","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"humidity":83,"cloud":0,"feelslike_c":16.1,"feelslike_f":61.0,"windchill_c":13.9,"windchill_f":57.0,"heatindex_c":13.9,"heatindex_f":57.1,"dewpoint_c":10.5,"dewpoint_f":50.8,"vis_km":16.0,"vis_miles":9.0,"uv":0.0,"gust_mph":7.2,"gust_kph":11.7,"short_rad":0,"diff_rad":0,"dni":0,"gti":0}}'
  recorded_at: Mon, 20 Oct 2025 04:01:15 GMT
recorded_with: VCR 6.3.1
