---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=<WEATHERAPI_KEY>&q=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999987'
      Cdn-Proxyver:
      - '1.39'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 10/20/2025 05:51:50
      Cdn-Edgestorageid:
      - '852'
      Cdn-Requestid:
      - 49104d24d35fe6de8636b14f2b7e8ed2
      Cdn-Cache:
      - EXPIRED
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"San Francisco","region":"California","country":"United
        States of America","lat":37.775,"lon":-122.4183,"tz_id":"America/Los_Angeles","localtime_epoch":1760940215,"localtime":"2025-10-19
        23:03"},"current":{"last_updated_epoch":1760940000,"last_updated":"2025-10-19
        23:00","temp_c":15.6,"temp_f":60.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":236,"wind_dir":"WSW","pressure_mb":1018.0,"pressure_in":30.05,"precip_mm":0.0,"precip_in":0.0,"humidity":83,"cloud":0,"feelslike_c":15.6,"feelslike_f":60.1,"windchill_c":13.6,"windchill_f":56.4,"heatindex_c":13.6,"heatindex_f":56.5,"dewpoint_c":10.7,"dewpoint_f":51.3,"vis_km":16.0,"vis_miles":9.0,"uv":0.0,"gust_mph":4.8,"gust_kph":7.7,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},"forecast":{"forecastday":[{"date":"2025-10-19","date_epoch":1760832000,"day":{"maxtemp_c":22.2,"maxtemp_f":72.0,"mintemp_c":11.6,"mintemp_f":52.9,"avgtemp_c":15.0,"avgtemp_f":59.0,"maxwind_mph":10.1,"maxwind_kph":16.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":87,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":1.0},"astro":{"sunrise":"07:23
        AM","sunset":"06:26 PM","moonrise":"05:41 AM","moonset":"05:31 PM","moon_phase":"Waning
        Crescent","moon_illumination":6,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1760857200,"time":"2025-10-19
        00:00","temp_c":14.3,"temp_f":57.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":270,"wind_dir":"W","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":81,"cloud":4,"feelslike_c":13.5,"feelslike_f":56.3,"windchill_c":13.5,"windchill_f":56.3,"heatindex_c":14.3,"heatindex_f":57.7,"dewpoint_c":10.7,"dewpoint_f":51.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.3,"gust_kph":11.8,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1760860800,"time":"2025-10-19
        01:00","temp_c":13.8,"temp_f":56.9,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":242,"wind_dir":"WSW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":80,"cloud":3,"feelslike_c[...]
