<section class="hero">
  <h1 class="hero__headline">
    Simple Fast.<br>
    Weather Forecaster.
  </h1>
  <p class="hero__subhead">powered by Tony Kim</p>
  <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "hero__cta" %>
</section>
