<h1>Weather#show</h1>

<section>
    <h1>Weather in <%= @forecast.location %></h1>
    <p><strong>Condition:</strong> <%= @forecast.condition %></p>
    <p><strong>Temperature:</strong> <%= @forecast.formatted_temperature %></p>
    <p><strong>Observed:</strong> <%= @forecast.formatted_observed_at %></p>
</section>
